body { 
    padding-top:50px; 
}

.img-container {
    display: flex;
    justify-content: center;
}


.img-container img {
    width: 80%;
    margin: 10rem 0;
}

.small-text {
    font-size: 1rem;
}

.logout {
    border: 0;
    margin: 15px;
    background-color: #F8F8F8;
    color: #777777;
}

.logout:hover {
    color: #000;
}

