<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body class="container">
    <header>
        <% if (confirmed === undefined) { %>
        <%- include ("../partials/unAuth.ejs") %>
        <% } else { %>
        <%- include ("../partials/authHeader.ejs") %>
        <% } %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>About</h1>
            <p>
                Labore nihil repellendus sunt accusantium atque libero eligendi sit aperiam optio! Sequi ratione officia
                ipsum, eos vitae aliquid eaque molestiae aut laboriosam modi, similique quo vel libero magni delectus
                veniam.
            </p>
            <p>
                Magnam praesentium natus rem cupiditate unde ut, saepe officiis quod dolorem doloribus, autem neque esse
                laboriosam reprehenderit laudantium maxime minima porro sunt impedit aliquam alias omnis accusamus.
                Esse, rerum nam.
            </p>
            <p>
                Ut inventore pariatur sint placeat necessitatibus harum ipsa qui accusantium vel dicta voluptates
                sapiente nesciunt numquam explicabo, nobis, corporis dolorum? Consectetur mollitia nihil, voluptatem
                ipsam praesentium fugit? Impedit, quibusdam libero!
            </p>
            <p>
                Aspernatur harum asperiores itaque omnis illo sit fuga odit magnam fugiat incidunt. Blanditiis facilis
                doloremque quaerat sapiente voluptatum, repellendus quis? Quod, cumque. Iure cupiditate expedita,
                dignissimos vel maiores libero tenetur.
            </p>
            <p>
                In deserunt voluptate, praesentium quaerat aliquam dolorem provident, veritatis corporis consequatur
                repudiandae qui perspiciatis minus expedita omnis. Molestias laborum totam velit quas eos officia,
                reiciendis eaque error, maiores commodi dolorem!
            </p>
            <p>
                Repellendus aliquam accusamus temporibus corporis, maxime nemo nisi beatae repellat ut sunt optio
                laudantium a atque dignissimos expedita doloribus reprehenderit magnam. Inventore earum qui autem minus
                quibusdam temporibus! Numquam, est!
            </p>
            <p>
                Nisi beatae debitis exercitationem harum dolorem. Blanditiis fugit consequatur pariatur ea dicta
                mollitia excepturi tempora! Veniam fugit nisi, saepe voluptates est ullam unde perspiciatis rerum,
                perferendis incidunt, at molestias nesciunt!
            </p>
        </div>
    </main>

</body>
</html>