<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body class="container">
    <header>
        <%- include ("../partials/header.ejs") %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Testing</h1>
            <div class="register">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse nihil non eius iste ratione, eveniet
                    inventore dicta asperiores velit, at dolorem sequi repellat animi, fuga earum nisi excepturi
                    delectus provident! </p>
            </div>
        </div>
    </main>

</body>

</html>